/* === Шрифт === */
@font-face {
  font-family: "TTTravels";
  src: url("./fonts/TTTravels-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "TTTravels";
  src: url("./fonts/TTTravels-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "TTTravels";
  src: url("./fonts/TTTravels-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}


/* === База === */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #603103;
  background: linear-gradient(90deg, rgba(96, 49, 3, 1) 0%, rgba(197, 107, 16, 1) 78%, rgba(217, 135, 3, 1) 100%);
  font-family: "TTTravels", sans-serif;
}

.menu-grid {
  width: 100vw;
  height: 100vh;
  padding: 2vh 2vw;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 0.6vh 0.5vw;
}

/* === Карточка === */

.beer-card {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 0.6vh solid #000;
  border-radius: 1.4vh;
  box-sizing: border-box;

  padding: 1.4vh 1.8vh;

  display: grid;
  grid-template-rows:
      auto      /* верх */
      auto      /* divider */
      15vh;     /* нижний блок фиксированный */
}

/* ===== Верхний блок ===== */

.card-top {
  grid-row: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding-top: 0.5vh;
  padding-bottom: 1vh;

  min-height: 7vh;     /* не меньше */
  max-height: 13vh;    /* не больше */
  overflow: hidden;    /* название не вылезает */
}

/* ID */
.title-id {
  font-size: 3.2vh;
  font-weight: 700;
  margin-bottom: 0vh;
}

/* Название */
.title {
  font-size: 4.2vh;
  font-weight: 700;
  line-height: 1;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  margin-bottom: 0.2vh;
}


/* ===== Divider ===== */

.divider {
  grid-row: 2;
  height: 0.2vh;
  background: #000;
  width: 100%;
  margin: 0.6vh 0;
  flex-shrink: 0;
}

/* ===== Нижний блок — фиксированный ===== */

.card-bottom {
  grid-row: 3;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;

  padding-top: 0.3vh;
  padding-bottom: 0.1vh;
}

/* страна / тип / цена / крепость */
.info-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.1vh;
}

/* страна */
.country {
  font-size: 2.2vh;
}

/* крепость + плотность */
.abv {
  font-size: 2.1vh;
}

/* цена */
.price {
  font-size: 5.1vh;
  font-weight: 900;
}

/* бейдж */
.badge-wrap {
  display: flex;
  justify-content: flex-end;
}
.badge {
  height: 4.2vh;
}

/* ===== Состояния ===== */

.state-instock .price {
  color: #000;
}

/* === В ПУТИ === */
/*  Для картинки в пути
  .price-img {
    height: 5.1vh;
    width: auto;
    display: block;
*/

.price-pending {
  font-size: 4.5vh;     /* чуть меньше цены, выглядит аккуратно */
  font-weight: 700;
  font-style: italic;
  color: #c00000;       /* красный */
}

.state-order .card-bottom {
  justify-content: flex-start;   /* не растягиваем вниз */
  padding-top: 0.6vh;            /* ближе к divider */
}


.order-text {
  font-size: 2.8vh;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
}

.state-order .order-text {
  margin-top: 0.4vh;             /* прижимаем вверх */
}


/* опускаем верхний текст у order-карточки */
.state-order .card-top {
  padding-top: 2.5vh;   /* опускаем вниз */
  padding-bottom: 0.6vh;
}











